*{
    transition: 0.2s;
}

main{
    min-height: 90%;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;

    .logo-big {
        font-size: 12rem;
        font-family: serif;
        font-weight: lighter;
    }

    .small-p {
        color: white;
        margin-top: -2rem;
    }

    @media (max-width: 620px) {
        .logo-big{
            font-size: 8rem;
        }

        .small-p{
            font-size: 0.8rem;
        }
    }
}

@import "footer"